#btn{
    cursor: pointer;
}
/*main*/
body{
    color:#000000;
    
    overflow-x:hidden;
    font-family: 'Poppins', sans-serif;
}

html{
    max-width: 100%;
}
hr{
    background-color: #606060;
    height: 1px;
    width: 100%;
}
.container {
    max-width: 1230px;
    padding:0 30px;

    margin: 0 auto;
}
.block{
    overflow: hidden;
}
/*header*/
.header {
    padding: 46px 0 0 0;
    height: 100%;
    

    background-color: #f1f1f1;
}
.header__nav {
    display: flex;
    justify-content: space-between;

    align-items: flex-end;
}
.logo {
    color: #000;
    padding-right: 12px;
    padding-bottom: 3px;

    line-height: 1;
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;


    position: relative;

    transition: all .3s linear;
}
.logo:after{
    content: '';
    display: block;
    background-color: #FDA300;
    border-radius: 50%;

    height: 8px;
    width: 8px;

    position: absolute;
    
    right: 0;
    bottom: 0;
}
.logo:hover{
    color:#606060;
}
.logo:hover:after{
    background-color: #ffbd42;
}
/*nav*/
.nav-list {
    display: flex;

    column-gap: 50px;

    font-weight: 500;
    font-style: 14px;
}
.nav-link {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;


    transition: all .3s ease;
}
.nav-link:hover{
    color:#606060;

    text-decoration: underline;
}
.nav-link.active{
    color:#606060;

    text-decoration: underline;
}
.nav-burger {
    width: 32px;
    height: 20px;

    cursor: pointer;
}
.nav-burger::after,
.nav-burger::before{
    position: relative;
    content: "";
    display: block;
    width: 33px;
    height: 4px;
    background-color: #000;
    transition: all .3s linear;
}
.nav-burger::after{
    bottom: 0;
}
.nav-burger span{
    position: relative;
    display: block;
    
    width: 33px;
    height: 4px;
    background-color: #000;
    margin: 5px 0;
    left: 0;

    transition: all .3s linear;
}
.nav-burger.active::after,
.nav-burger.active::before{
    background-color: #606060;
}
.nav-burger.active::after{
    bottom: 9px;
    transform:rotate(45deg);
}
.nav-burger.active::before{
    top: 9px;
    transform:rotate(-45deg);

}
.nav-burger.active span{
    left: 50%;
    width: 0;
}
/*header__row*/
.header__row {
    margin: 0 0 0 0;
    padding: 8% 0 0 0;
    height: 100%;
    display: flex;

    justify-content: space-between;
    column-gap: 30px;
}
.header__content {
    margin: auto 0;
}
.header__img{
    height: 100%;
    border-bottom: 1px solid #606060;;
}
.header__img{
    max-width: 100%;
    height: auto;
}
.header__title {
    font-family: 'Poppins', sans-serif;
    font-size: 44px;
    font-weight: 600;
    line-height: 66px;
    letter-spacing: 0em;
    text-align: left;

}
.header__job {
    border-bottom: 1px solid gray;
}
.header__text {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
}
.github{
    color: #000;
    font-size: 16px;
}
.github a{
    color: #000;
    transition: all .3s ease;
}
.github a:hover{
    color: #878585;
    text-decoration: underline;
}
/*services*/
.services{
    margin: 90px 0;
}
.services__header{
    text-align: center;

    margin-bottom: 3%;

    font-size: 34px;
    font-weight: 600;
    line-height: 51px;
    letter-spacing: 0em;
    text-align: center;

}
.services-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.services-card {
    width: 30.333%;
}
.services-img {
    margin-bottom: 30px;
}
.services-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;

    margin-bottom: 10px;

}
.services-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
}
.contacts-buton.aos-init.aos-animate{
    margin-bottom: 40px;
}
/*portfolio*/
.portfolio {
    padding: 90px 0;
    background-color: #f1f1f1;
}
.container-title {
    margin-bottom: 70px;
    text-align: center;
}
.title-1 {
    font-family: 'Poppins', sans-serif;
    font-size: 34px;
    font-weight: 600;
    line-height: 51px;
    letter-spacing: 0em;
    text-align: center;

}
.project {
    text-align: center;
}
.project + .project{
    padding-top: 90px;
}
.prof{
    border: 1px solid gray;
}
.project__img {
    margin-bottom: 40px;
}
img.project__img{
    max-width: 100%;
    height: auto;
}
.project__img img{
    max-width: 100%;
        height: auto;
}
img.project__img.prof {
    max-width: 100%;
    height: auto;
}
.project-title {
    text-decoration: underline;

    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
}
.project-title a {
    color: #000;
    text-decoration: underline;
}
.portfolio__btn{
    text-align: center;

    margin-top: 5%;

    transition: all .3s ease;
}
.portfolio__btn.active .btn{
    background-color: #606060;
    transition: all .3s ease;
}
.portfolio__btn.active .btn p{
    font-size: 0;
    width: 0;
    display: none;

    transition: all .3s ease;
}
.btn span{
    display: none;

    transition: all .3s ease;
}
.portfolio__btn.active .btn span{
    display: inline-block;

    transition: all .3s ease;
}
.project-active{
    display: none;

    transition: all .3s ease;
}
.project-active.active{
    display:inline-block;
}
/*Add hover for class a*/
.project__img{
    transition: all 1s ease;
}
.project__img:hover {
    box-shadow: 0px 0px 5px 8px #c9c3c3;

    opacity: .5;
    background-color: #606060;
}
h3.project-title{
    color: #000;
    transition: all .3s;
}
h3.project-title:hover{
    color: #c9c3c3;
}
/*footer*/
.contacts {
    padding: 90px 0;
    text-align: center;
}
.contacts-title {
    margin-bottom: 40px;
}
.contacts-content {
    max-width: 480px;
    margin: 0 auto;
    margin-bottom: 40px;

    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
}
.contacts-content p{
    text-align: center;
}
.contacts-content.aos-init.aos-animate{
    padding: 0;
}
.contacts-social {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 60px;
}
.content-icon{
    font-size: 38px;
    height: 40px;
    width: 40px;
    color: #000;

    transition: .3s all ease;
}
.content-icon:hover{
    color: #606060;
}
.contacts-footer{
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    color: #828282;

    margin-top: 25px;
}
/*btn*/
.buton {
    margin-bottom: 80px;
}
.btn {
    display: inline-block;
    padding: 7px 22px;
    background-color: #070707;
    border-radius: 30px;

    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;
    margin: 0;

    transition: .3s all ease;
}
.btn:hover {
    background-color: #ffffff;
    color: #000000;
}
.btn:active{
    background-color: #ffffff;
    color: #000000;

    position: relative;
    top: 1px;
}
a.contacts-btn{
    margin-bottom: 40px;
}